.button {
  --main-focus: #4f46e5; /* Main button color */
  --font-color: #ffffff; /* Text color */
  --bg-color-sub: #4f46e5; /* Background color of icon */
  --bg-color: #4f46e5; /* Background color */
  --main-color: #ffffff; /* Border color and box shadow color */

  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;

  .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
  }

  .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  .svg {
    width: 20px;
    fill: var(--main-color);
  }

  &:hover {
    background: var(--bg-color);
  }

  &:hover .button__text {
    color: transparent;
  }

  &:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }

  &:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }
}
