.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

.progress {
  text-align: center;
  /* background: rgb(239, 236, 34); */
  /* background-color: #007bff */
  background-color: #fcefb4;
  /* Blue color */
  color: #a78248;
  padding: 12px 24px;
  /* border-radius: 100vh; */
  border: 4px solid #a78248;
  font-size: 16px;
  max-width: 40%;
}

.progressBar {
  display: none;
  width: 30%;
  height: 32px;
}

.okbutton {
  display: none;
  background-color: #007bff; /* Blue color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.okbutton:hover {
  background-color: #0056b3; /* Darker blue */
  color: white;
}

.datadetails {
  color: white;
  margin-bottom: 1rem;
  display: none;
  font-size: 1.2em;
}
